<h1>Share Build</h1>
<p><%= @error %></p>
<form action="/builds" method="POST">
  <label>Title</label>
  <input type="text" name="title"> 
  <label>Specs</label>
  <input type="text" name="specs"> 
  <label>Image</label>
  <input type="text" value="image">
  <input type="submit" value="Share">
</form>